* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: #383838;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Baloo Thambi 2', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  color: #383838;
  font-family: 'Baloo Tamma 2', cursive;
}
h1 {
  font-size: 3.7rem;
  margin-bottom: 2%;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.containerSK {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#top-navSK {
  padding: 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
#top-navSK .other-nav-divSK {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
#top-navSK .other-nav-divSK h1 {
  width: 50%;
  margin-top: 0;
}
@media (max-width: 800px) {
  #top-navSK .other-nav-divSK h1 {
    width: 100%;
    text-align: center;
  }
}
#top-navSK .other-nav-divSK .nav-imageSK {
  width: 8.5%;
  border: 2px solid #eb7c74;
  border-radius: 15px;
}
@media (max-width: 800px) {
  #top-navSK .other-nav-divSK .nav-imageSK {
    display: none;
  }
}
#top-navSK .nav-sectionSK {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#top-navSK .nav-sectionSK nav {
  width: 55%;
}
@media (max-width: 800px) {
  #top-navSK .nav-sectionSK nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
#top-navSK .nav-sectionSK nav a {
  margin-left: 2%;
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  #top-navSK .nav-sectionSK nav a {
    display: block;
    background-color: #eb7c74;
    width: 200px;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: 1%;
    text-decoration: none;
  }
  #top-navSK .nav-sectionSK nav a:hover {
    background-color: white;
    color: #eb7c74;
    border: 1px solid #eb7c74;
  }
}
@media (max-width: 500px) {
  #testimonialSK {
    width: 80%;
    text-align: center;
    order: 10;
  }
}
#bottom-navSK {
  padding: 1% 0;
}
#bottom-navSK .nav-sectionSK {
  margin: 1% auto;
  width: 20%;
}
@media (max-width: 800px) {
  #bottom-navSK .nav-sectionSK {
    width: 35%;
  }
}
@media (max-width: 500px) {
  #bottom-navSK .nav-sectionSK {
    width: 100%;
  }
}
#bottom-navSK .nav-sectionSK nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  #bottom-navSK .nav-sectionSK nav {
    justify-content: center;
  }
}
#bottom-navSK .nav-sectionSK a {
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  #bottom-navSK .nav-sectionSK a {
    margin: 1%;
  }
}
#bottom-navSK h4 {
  font-size: 1.5rem;
  text-align: center;
}
.hero-ES {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-ES h2 {
  font-size: 5rem;
  margin: 0;
}
.hero-ES p {
  width: 80%;
  border: 1.8px #eb7c74 solid;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .hero-ES {
    width: 100%;
  }
}
.hero-image-ES img {
  border: 5px #eb7c74 solid;
  border-radius: 45px;
}
.productivity-images-ES {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.productivity-images-ES img {
  width: 40%;
  border: 1.5px #eb7c74 solid;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .productivity-images-ES {
    display: none;
  }
}
.categories-container-ES {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .categories-container-ES {
    flex-direction: column;
    align-items: center;
  }
}
.categories-info-and-img-ES {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 2% 0;
}
.categories-info-and-img-ES .categories-info-ES,
.categories-info-and-img-ES .categories-section-img-container-ES {
  width: 40%;
}
.categories-info-and-img-ES img {
  height: 40vh;
  border-radius: 20px;
  border: 2px solid lightcoral;
}
@media (max-width: 800px) {
  .categories-info-and-img-ES img {
    display: none;
  }
}
.categories-info-and-img-ES h2 {
  text-align: center;
}
@media (max-width: 500px) {
  .categories-info-and-img-ES {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .categories-info-and-img-ES img {
    display: none;
  }
  .categories-info-and-img-ES p {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .categories-info-ES {
    width: 100%;
  }
  .categories-info-ES p {
    display: none;
  }
}
.categories-section-ES {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .categories-section-ES {
    width: 100%;
  }
}
.categories-ES {
  width: 22%;
  padding: 0 0.5%;
  background: rgba(211, 211, 211, 0.548);
  border: 2px solid #eb7c74;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .categories-ES {
    width: 100%;
    align-items: center;
    margin: 3% 0;
  }
}
.categories-ES img {
  border: 1.5px #eb7c74 solid;
  border-radius: 10px;
}
.categories-ES h4 {
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  border: 1px solid lightcoral;
}
.categories-ES .button-container-ES {
  display: flex;
  justify-content: center;
}
.categories-ES .button-container-ES button {
  font-family: 'Baloo Tamma 2', cursive;
  border-radius: 20px;
  border: 1px solid lightcoral;
  background-color: lightcoral;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .categories-ES .button-container-ES {
    width: 100%;
  }
}
