#top-navSK {
	padding: 1% 0;
	.flexMixin(@direction:row, @justify:center, @align:center);
	flex-wrap: wrap;
	margin: 0 auto;
	.other-nav-divSK {
		.flexMixin(@direction:row, @justify:space-between);
		width: 100%;
		h1 {
			width: 50%;
			margin-top: 0;
		}
		.nav-imageSK {
			width: 8.5%;
		}
	}
	.nav-sectionSK {
		width: 100%;
		.flexMixin(@justify:flex-end, @align:center);
		nav {
			.flexMixin(@justify:flex-end, @align:center);
			width: 55%;
			a {
				margin-left: 2%;
				font-size: 1.8rem;
			}
		}
	}
}
#bottom-navSK {
	padding: 1% 0;
	.nav-sectionSK {
		margin: 1% auto;
		width: 20%;
		nav {
			.flexMixin(@direction:row, @justify:space-between, @align:center);
		}
		a {
			font-size: 1.5rem;
		}
	}
	h4 {
		font-size: 1.5rem;
		text-align: center;
	}
}
